@media (min-width: 320px) and (max-width: 575px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }
  .banner {
    padding: 20px 0px;
  }
  .banner-left-part {
    width: 100%;
  }
  .banner-container {
    flex-direction: column;
  }

  .banner-right-part {
    width: 100%;
  }

  .banner-left-part h1 {
    font-size: 30px;
    text-align: center;
  }
  .banner-left-part p {
    text-align: center;
  }

  .button-container {
    flex-direction: column;
  }

  /* ========header and banner ends =============*/

  /* ==============experience starts================== */

  .experience-container {
    flex-direction: column;
  }
  .expo-img-5 {
    right: 0px;
  }

  .expo-img-1 {
    width: 100%;
  }

  .expo-img-4 {
    right: 4px;
  }

  .experience-right-part h2 {
    text-align: center;
  }

  .experience-right-part button {
    display: block;
    margin: 0 auto;
  }

  /* ==============experience ends======================= */

  /* ========================counting starts======================== */
#counting{
  height: auto;
}

.counting-container div{
    max-width: 100%;
    height: auto;
  border-width: 0px 0px 1px 0px; 
  text-align: center;
  align-items:center;
}
.count-div-3{
  width: 100%;
}

.count-div-4{
  width: 100%;
}

/*=============== counting ends======================= */



/* ==============area section starts============== */
.area-card-container {
    gap: 0px;
    flex-direction: column;
}

.img-arrow-area-2 {
   bottom: 40px;
}

.img-arrow-area-1 {
    bottom: 40px;
}

/* =============area section ends =====================*/


/*================ expertise section starts ===========*/
#expertise .col-sm-4 h2 {
    text-align: center;
}
#expertise .col-sm-4 p {
    text-align: center;
}

#expertise .col-sm-4 button {
  display: block;
  margin: 0 auto;
margin-bottom: 20px;

}

#expertise .col-sm-6 img {
width: 100%;
margin-bottom: 20px;

}
.expert-1, .expert-2, .expert-3 {
  display: block;
  margin: 0 auto;
}
/*================ expertise section ends ===========*/

/*================ projects starts ==================*/
.projects-container {
  flex-direction: column;
}

#projects {

    height: auto;
}


.image-projects-container img{
   width: 40%;
}


.image-projects-container {
    flex-wrap: wrap;
    gap: 30px;
    position: static;
    justify-content: center;
}
/*================ projects ends ==================*/

/*=============== feedback starts =================*/

.pre-feedback-container {
    flex-direction: column;
 
}

.feedback-mini-card-container {
    flex-direction: column;
    gap: 0px;
    
}

#projects {

    margin-bottom: 0px;
}


.feedback-container h2 {

    font-size: 28px;

    padding: 20px;

    text-align: center;
}


}



