@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
   --main-font: "Open Sans", sans-serif;
  
}



*{
    margin: 0;
    bottom:0;
    box-sizing: border-box;
}
#header{
    height: 929px;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
}


nav button{
    padding: 14px 28px;
    border-radius: 100px;
    border: none;
    background-color: #2F93FD;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-family: var(--main-font);
}
.banner{
    padding: 150px 0;
}
.banner-container{
    display: flex;
    align-items: center;
}


.banner-left-part{

}

.banner-left-part h1{
    max-width: 573px;
      font-family: var(--main-font);
      font-size: 64px;
      font-weight: 800;
      line-height: 120%;
      margin-bottom: 24px;
    
}


.banner-left-part p{
    max-width: 573px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 180%;
      margin-bottom: 56px;
      color:#486489;
    
}

.banner-left-part button{
 padding: 14px 28px;
    border-radius: 100px;
    border: none;
    background-color: #2F93FD;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-family: var(--main-font);
    
}

.button-container{
    display: flex;
    gap: 40px;
    align-items: center;
}

.banner-right-part{
    width: 50%;
    height: 50%;
}


.banner-left-part button{

}




/*=================== header ends============================ */


/*================ experience starts ==================*/

.experience-container{
    display: flex;
    align-items: center;
    gap: 156px;
}

.experience-right-part{

}


.under-line{
    width: 60px;
    height: 4px;
    background-color: #37B865;
    border-radius:20px;
    margin-bottom: 10px;
}


.experience-right-part h6{
font-size: 24px;
font-weight: 400;
line-height: 180%;
margin-bottom: 12px;
color:#37B865;
}


.experience-right-part h2{
    max-width: 570px;
font-size: 48px;
font-weight: 800;
line-height: 120%;
margin-bottom: 24px;
color:rgb(24, 23, 23);
}

.experience-right-part .pargraph-1{
    max-width: 570px;
font-size: 20px;
font-weight: 400;
line-height: 180%;
margin-bottom: 24px;
color: #486489;
}

.experience-right-part .pargraph-2{
    max-width: 570px;
font-size: 20px;
font-weight: 400;
line-height: 180%;
margin-bottom: 56px;
color: #486489;
}

.experience-right-part button{
    padding: 20px 40px;
font-size: 20px;
font-weight: 400;
line-height: 180%;
background-color:#247FFB;
border-radius:100px;
border: none;
color: #FFFFFF;
}
.experience-left-part{
    position: relative;
}

.expo-img-2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.expo-img-3{
    position: absolute;
    bottom: 0;
    right: 0;

}

.expo-img-4{
    position: absolute;
    bottom: 10px;
    right: -48px;
    z-index: 999;
}

.expo-img-5{
    position: absolute;
    top: -100px;
    right: -150px;
    z-index: 999;
}

.expo-img-6 {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 999;
}

#experience{
    padding: 146px 0px 126px 0px;
    min-height: 900px;
}

/* =============experience ends=================== */


/* =============counting starts=================== */
#counting{
    height: 273px;
    background-color:#003173;
    padding: 91px 0px;
}

.counting-container{
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;

}

.counting-container div{
    max-width: 310px;
    padding: 0px 61px;

  border-width: 0px 5px 0px 0px; 
  border-style: solid solid solid solid; 
  border-color: #37B865;
}

.counting-container div h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    color: #FFFFFF;
}

.counting-container div p{
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    color: #FFFFFF;
}


/* =============counting ends=================== */


/*============== area section starts ==================*/
#area{
    padding: 110px 0px;
    position: relative;
}

.img-arrow-area-1 {
    position: absolute;
    bottom: 286px;
    left: 200px;
}

.img-arrow-area-2 {
    position: absolute;
    bottom: 286px;
    right: 200px;
}

.hr-area{
    width: 70px;
    height: 3px;
    color:#37B865;
    background-color:#37B865;
    margin: 0 auto;;
}
.area-container{
    justify-content: center;
    align-items:center;
    text-align: center;
}

.area-container h4{
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 400;
  line-height: 180%;
  color: #37B865;
}

.area-container h2{
 max-width: 690px;
  padding-bottom: 24px;
  font-size: 48px;
  font-weight: 800;
  line-height: 120%;
  color: #001838;
  text-align: center;
  margin: 0 auto;
}

.area-container p{
 max-width: 670px;
  padding-bottom: 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  color: #486489;
  text-align: center;
  margin: 0 auto;
}

.area-card-container{
    display: flex;
    gap:60px;
}

.area-card{
    max-width: 386px;
    height: auto;
    text-align: center;
    align-items:center;
    padding: 70px 30px;
    box-shadow: -24px 30px 45px -6px rgba(143, 143, 143, .15);
}

.area-card img{
  padding-bottom: 48px;
}
.area-card h3{
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 800;
  line-height: 120%;
  color: #001838;
}

/*============== area section endss ==================*/

/* =============expertise section starts ==================*/
#expertise{
    padding: 120px 0px;
}
.hr-area-2{
    width: 100px;
    height: 3px;
    background-color:#038f34;
    border-radius:10px;
}

.expert-container{
}
    

.expert-container div{
       max-width: 220px ;
       height: 160px;
       border: 1px solid #FFD9D9
}

.expert-container h4{
     font-style: italic;
     font-weight: 400;
     line-height: 180%;
     font-size: 18px;
     color: #486489;
     padding-top: 23px;
     text-align: center;
}

#expertise .col-sm-4 h4{
    margin-bottom: 12px;
}

#expertise .col-sm-4 h2{
    margin-bottom: 24px;
    max-width: 368px;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    color: #001838;
}


#expertise .col-sm-4 p{
    margin-bottom: 56px;
    max-width: 366px;
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    color: #486489;
}


#expertise .col-sm-4 button{
     padding: 20px 40px;
font-size: 20px;
font-weight: 400;
line-height: 180%;
background-color:#247FFB;
border-radius:100px;
border: none;
color: #FFFFFF;
}

.center{
    align-items:center;
}
  /* .gap{gap: 10px;} */

/* =============expertise section ends ==================*/

/*=========== projects section start=====================*/
#projects{
    background-color:rgba(0, 49, 115, .95);
    height: 560px;
    margin-bottom: 185px;
   
}

.projects-container{
    display: flex;
    gap:72px;
}

.projects-container{
    padding-top: 84px;
}

.projects-left h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 180%;
    color: #37B865;
    margin-bottom: 12px;
}


.projects-left h2{
    max-width:500px;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    color: #FFFFFF;
}

.projects-right{
    display: flex;
    align-items:end;

}




.projects-right P{
    max-width: 650px;
    font-weight: 400;
    line-height: 180%;
    color: #FFFFFF;
    font-size: 20PX;

}
.projects{
     position: relative;
}

.image-projects-container {
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: -150%;
    right: 0%;
}

/*================ projects section ends=========================== */

/* ===============feedback section starts =========================*/
#feedback{
    height: 739px;
    padding: 100px 0px;
    margin-bottom: 200px;
}
.feedback-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feedback-container h2{
    max-width: 600px;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    color: #001838;
}


.feedback-container h4{
    font-style: italic;
}

.pre-feedback-container{
    display: flex;
    align-items: center;
}
.feedback-mini-card-container{
  display: flex;
  gap: 30px;
}


.feedback-mini-card-container p{
    max-width: 390px;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    color: #486489;
    text-align: left;
}

.feedback-mini-card-container div{
    text-align: center;
    box-shadow: 22px 29px 111px -4px rgb(201, 201, 244, .4);
    padding: 35px;
}

.feedback-card .feedback-heading{
    text-align: center;
    margin-top: 20px;
}

/* ================feedback section ends =======================*/


/* ==================work section starts ========================*/
#work{
    min-height: 770px;
    padding: 100px 0px;
    margin-bottom: 110px;
    
}
.news-container{
    text-align: center;
    padding-bottom: 56px;
}

.center-news{
    margin: 0 auto;
}


.news-container h2{
    max-width: 751px;
    font-size: 48px;
    font-weight: 800;
    line-height: 120%;
    color: #000000;
    margin: 0 auto;
}

.news-container h6{
   color:#37B865;
   padding-top: 5px;
   font-size: 24px;
   font-weight: 400;
   line-height: 180%;
}

.case{
    display: flex;
    margin-bottom: 20px;
}

.case .case-h4{
    border-right-color: #038f34;
    border-right-style: solid;
    border-right-width: 2px;
    padding-right: 10px;
}

.case .case-h4-2{
    padding-left: 30px;
}

.case h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #038f34;
}


.work-card p{
    max-width: 310px;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    color: #486489;
    text-align: left;
    margin-top: 20px;
}



.work-card h5{
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    color: #000000;
}

.work-card p{
    max-width: 310px;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    color: #486489;
    text-align: left;
}

.work-card img{
margin-bottom: 52px;
width: 100%;
}

.work-card{
    box-shadow: 22px 29px 111px -4px rgb(201, 201, 244, .4);

    text-align: left;

    position: relative;
}

.relative-div{
    display: flex;
    gap: 8px;
    border-radius: 5px;
    background-color: #37B865;
    padding: 5px;
    color:#FFFFFF;
    width: 147px;
    height: 64px;
    position: absolute;
    bottom: 208px;
    left: 25px;
}

.work-card-container{
display: flex;
gap: 30px;
}

/*=============== ================work section ends ========================*/

/*===================== footer starts here================================== */
#footer{
 background-color: #0B3A77;
 padding-top: 140px;
 padding-bottom: 40px;
}


.col-5 p{
    max-width: 449px;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    color: #FEFEFE;
    text-align: left;
}
.row{
    color:white;
}

.row ul{
    list-style-type: none;
}

.footer-2{
    display: flex;
    justify-content: space-between;
    color:wheat;
    padding-top: 80px;
}

.footer-logo{
    margin-bottom: 44px;
}

#footer .row ul li:first-child{
    margin-bottom: 40px;
}

#footer .row ul li{
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 120%;
}

/*===================== footer ends here================================== */